* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    width: 3rem;
}

button {
    background: #4CAF4F;
}

.years, .tim {
    color: #4CAF4F;
}

.brand {
    width: 2rem;
}

.brands {
    width: 2rem;
}

.icon {
    width: 4rem;
}

.mobile-img {
    width: 12.5rem;
    height: 12.5rem;
}

.reinvent {
    color: #4CAF4F;
}

.mobile-login {
    width: 12.5rem;
}

.stat-icon {
    width: 2.25rem;
    height: 2.25rem;
}

.toyota {
    width: 10rem;
    height: 15rem;
    margin-top: 2.25rem;
    margin-right: 2rem;
    margin-left: .5rem;
}

.caring {
    width: 15rem;
    margin: 1rem;
}

.email-icon {
    position: relative;
    right: 2rem;
}
