* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    overflow-x: hidden;
}

.wrapper {
    overflow-x: hidden;
    position: relative;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    width: 3rem;
}

button {
    background: #4CAF4F;
}

.years, .tim, .reinvent {
    color: #4CAF4F;
}

.brand {
    width: 2rem;
}

.brands {
    width: 2rem;
}

.icon {
    width: 4rem;
}

.mobile-img {
    width: 7.5rem;
    height: 7.5rem;
}

.mobile-login {
    width: 7.5rem;
    height: 7.5rem;
}

.stat-icon {
    width: 2.25rem;
    height: 2.25rem;
}

.toyota {
    position: relative;
    top: -2rem;
    width: 7.5rem;
    height: 7.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.caring {
    width: 15rem;
    margin: 1rem;
}

.email-icon {
    position: relative;
    right: 2rem;
}

.meet {
    position: relative;
    left: -9.75rem;
}